<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Covid Health and Environment Monitoring System</title>
    <style>
        .navbar-nav a{

        }
        .signbtn:hover{
        background-color : #1a237e !important;
        }
        @media screen and (max-width : 992px){
                .content{
                height : 100% !important;
                width : 100%;
                overflow-x : hidden;

                }
                .content h1{
                    font-size : 50px;
                }
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-md sticky-top navbar-light" style="background-color : #f2f2f2;">
    <a class="navbar-brand mr-3 font-weight-bold" href="{% url 'Home' %}" style="font-size : 25px; color : #1a237e; letter-spacing : 2px;">CHEMO</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navres">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navres">
        <ul class="navbar-nav">
            <a class="nav-item nav-link mx-3" href="{% url 'Home' %}">Home</a>
            <a class="nav-item nav-link mx-3" href="">Hospitals</a>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <a class="nav-item nav-link mx-3" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn signbtn text-white mx-3" href="{% url 'signup' %}" style="background-color : #303f9f;">Create Account</a>
                <a class="nav-item nav-link mx-3" href="{% url 'login' %}">Login</a>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}
{% endblock content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>