{% extends 'hospitalauth/base.html'%}
{% block content %}
    <div class="container mt-3">
        <div class="row mt-3">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 mt-3">
                {% if messages %}
                    {% for i in messages %}
                        <div class="alert alert-{{ i.tags }}">
                            {{ i }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form class="login" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email : </label>
                        <input type="email" id="email" name="email" placeholder="enter email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password : </label>
                        <input type="password" id="pass" name="pass" placeholder="enter password" class="form-control">
                    </div>
                    <button class="btn btn-block btn-primary">Login</button>
                </form>
                <small>don't have an account ? <a href="">sign-up here</a></small>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
{% endblock content %}